{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h1> {{ .Title}} </h1>
    <!-- <p class="hero-lead">
      {{ .Params.bref | safeHTML }}.
    </p> -->
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="https://github.com/cloudowski/kubemap">View on Github</a>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    This is a map of Kubernetes objects (or resources if you like) showing relationships
    and connections between them.
    </br>
    This may help people who learn better with diagrams and maps.
  </div>

  {{ .Content}}
  <!-- Inject script tag in this template  -->
  {{if .Params.script}}
  {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
  {{end }}
</div>
{{ end }}