<link href="{{"mermaid/mermaid.css" | relURL}}" type="text/css" rel="stylesheet" />
<script src="{{"mermaid/mermaid.js" | relURL}}"></script>
<script>
    var config = {
        startOnLoad: true,
        theme: 'dark',
        flowchart: {
            useMaxWidth: true,
            curve: 'basis',
            htmlLabels: true
        }
    };
    mermaid.initialize(config);
</script>
<div class="mermaid" align="center">
    graph BT;

    linkStyle default interpolate basis
    classDef default stroke-width:2px;



    container["Container(s)"]--run inside-->pod[Pod]
    pod--is scaled by-->rs[ReplicaSet]
    rs--enables updates-->deployment[Deployment]


    pod--is scaled by-->rc[ReplicationController]
    pod--runs in an orderly fashion-->statefulset[StatefulSet]
    pod--runs on every node by-->ds[DaemonSet]

    pod-->job[Job]

    pod-->cronjob[CronJob]
    pod--is scaled automatically by-->hpa[HorizontalPodAutoscaler]


    pod--is exposed by-->svc[Service]
    ep[Endpoints]--registers active IP:PORT pairs-->svc
    svc--provides info for proxy config-->ing[Ingress]

    pv[PersistentVolume]-.satisfies.->pvc
    pvc[PersistentVolumeClaim]--provides persistent storage-->vol
    pv--may belongs to single-->sc
    sc[StorageClass]-.dynamically provisions.->pv

    vol[Volume]--mounts data inside as files or dirs-->pod[Pod]
    configmap[ConfigMap]--exposes as env variables-->pod
    configmap--exposes as files-->vol
    secret[Secret]--exposes as env variables-->pod
    secret--exposes as files-->vol

    click container "{{ ref . "container" }}" "Click for details"
    click pod "{{ ref . "pod" }}" "Click for details"
    click rs "{{ ref . "replicaset" }}" "Click for details"
    click deployment "{{ ref . "deployment" }}" "Click for details"
    click statefulset "{{ ref . "statefulset" }}" "Click for details"
    click rc "{{ ref . "replicationcontroller" }}" "Click for details"
    click ds "{{ ref . "daemonset" }}" "Click for details"
    click svc "{{ ref . "service" }}" "Click for details"
    click vol "{{ ref . "volume" }}" "Click for details"
    click secret "{{ ref . "secret" }}" "Click for details"
    click configmap "{{ ref . "configmap" }}" "Click for details"
    click sc "{{ ref . "storageclass" }}" "Click for details"
    click pv "{{ ref . "persistentvolume" }}" "Click for details"
    click pvc "{{ ref . "persistentvolumeclaim" }}" "Click for details"
</div>