<link href="{{"mermaid/mermaid.css" | relURL}}" type="text/css" rel="stylesheet" />
<script src="{{"mermaid/mermaid.js" | relURL}}"></script>
<script>
    var config = {
        startOnLoad: true,
        theme: 'dark',
        flowchart: {
            useMaxWidth: true,
            curve: 'basis',
            htmlLabels: true
        }
    };
    mermaid.initialize(config);
</script>
<div class="mermaid" align="{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}">{{ safeHTML .Inner  }}
</div>